[Desktop Entry]
Categories=DesktopSettings;Settings;Utility
Comment=Application permettant la création de fichier de configuration desktop simplifié 
Exec=/home/diablo/Public/Applications/ubuntu_desktop_file/ubuntu_desktop_file.bin
GenericName=Création de fichier desktop
Icon=/home/diablo/Public/Applications/ubuntu_desktop_file/Assets/Images/Ubuntu_logo.png
Name=Ubuntu Desktop File
Path=/home/diablo/Public/Applications/ubuntu_desktop_file
StartupNotify=true
Terminal=false
Type=Application
Version=1.0.6