[Desktop Entry]
Categories=DesktopSettings;Qt;Settings;Utility
Comment=Create simplified desktop File
Exec=python3 /home/diablo76/Documents/GitHub/Linux-Desktop-File/ldf_main.py
GenericName=Linux Desktop File
Icon=/home/diablo76/Documents/GitHub/Linux-Desktop-File/Assets/Images/Linux.png
Name=Linux Desktop File
Path=
StartupNotify=true
Terminal=false
Type=Application
Version=1.0.9